    @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
    * {
        margin: 0;
    }
    
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-family: "Big Shoulders Display", cursive;
        font-weight: 700;
        margin-top: 20px;
        color: hsl(0, 0%, 95%);
    }
    
    p {
        font-family: "Lexend Deca", sans-serif;
        font-size: 15px;
        font-weight: 400;
        margin-top: 20px;
        color: hsla(0, 0%, 100%, 0.75);
    }
    
    img {
        margin-top: 50px;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
    }
    
    .flex-items {
        width: 310px;
        height: 470px;
        display: flex;
        justify-content: center;
    }
    
    #sedans {
        background-color: #e38826;
        border-radius: 8px 0px 0px 8px;
    }
    
    #suvs {
        background-color: #006970;
    }
    
    #luxury {
        border-radius: 0px 8px 8px 0px;
        background-color: #004241;
    }
    
    .margin-left {
        margin-left: -20px;
    }
    
    button {
        margin-top: 100px;
        width: 130px;
        height: 40px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        transition: ease-in .3s;
    }
    
    .btn button:hover {
        border: 2px solid #fff;
        background-color: transparent;
    }
    
    #color-btn-sedans button {
        color: #e38826;
    }
    
    #color-btn-sedans button:hover {
        color: #fff;
    }
    
    #color-btn-suvs button {
        color: #006970;
    }
    
    #color-btn-suvs button:hover {
        color: #fff;
    }
    
    #color-btn-luxury button {
        color: #004241;
    }
    
    #color-btn-luxury button:hover {
        color: #004241;
        color: #fff;
    }
    
    .attribution {
        margin-top: 50px;
        text-align: center;
        color: #006970;
        font-size: 15px;
    }
    
    @media screen and (max-width: 792px) {
        .flex-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        #sedans {
            background-color: #e38826;
            border-radius: 8px 8px 0px 0px;
        }
        #suvs {
            background-color: #006970;
        }
        #luxury {
            border-radius: 0px 0px 8px 8px;
            background-color: #004241;
        }
        .attribution {
            display: none;
        }
    }